<script type='text/ng-template' id='deleteDeck.html'>
<div class='modal-header'><h3 class='modal-title'> Are you sure? </h3></div>
<div class='modal-body'> Are you sure you want to delete this deck? This action cannot be undone. </div>
<div class='modal-footer'>
  <button class='btn btn-warning' ng-click='$close(false)'>Cancel</button>
  <button class='btn btn-primary' ng-click='$close(true)'>Confirm</button>
</div>
</script>

<div class='page-heading-stripe'>
  <div class='container'>
    <h1>
      <i class='fa fa-tasks fa-fw'></i>
      Deck: <span class='page-heading-deckTitle'>{{ title }}</span>
      <small ng-if='isBusy()'>
        <i class='fa fa-cog fa-lg fa-spin'></i>
      </small>
    </h1>
    <div ng-if='loadSuccess && !message' class='btn-group btn-group-sm pull-right' role='group' aria-label='deck options'>
      <button type='button' class='btn btn-default'> <i class='fa fa-trash fa-fw'></i> Share </button>
      <button type='button' class='btn btn-default' ng-click='deleteDeck()'> <i class='fa fa-trash fa-fw'></i> Delete </button>
      <button type='button' class='btn btn-default'> <i class='fa fa-trash fa-fw'></i> Edit Description </button>
      <button type='button' class='btn btn-default'> <i class='fa fa-trash fa-fw'></i> Edit Title </button>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <alert ng-if='message' type='{{ message.type }}'>{{ message.msg }}</alert>
      <div ng-if='loadSuccess && !message' class='panel panel-default'>
        <div class='panel-heading'>
          <i class='fa fa-fw fa-th-list'></i> Add Card
          <div class='pull-right'>
            <div class='btn-group btn-group-xs'>
              <button class='btn btn-default' type='button'>a button</button>
            </div>
          </div>
        </div>
        <div class='row no-gutters'>
          <div class='col-xs-6'>
            <div class='card-left card-editor-container'>
              <textarea id='newCardFront' class='card-editor' placeholder='Enter card front' ng-model='newCard.front'></textarea>
            </div>
          </div>
          <div class='col-xs-6'>
            <div class='card-right card-editor-container'>
              <textarea class='card-editor' placeholder='Enter card back' ng-model='newCard.back'></textarea>
            </div>
          </div>
        </div>
        <div class='panel-body'>
          <button type='button' class='btn btn-primary btn-block' ng-click='addCard()'> Add +</button>

        </div>
      </div>

      <div ng-if='deck.cards.length > 0' class='panel panel-default'>
        <div class='panel-heading'>
          <i class='fa fa-fw fa-th-list'></i> Cards
        </div>

        <div class='row' ng-repeat='card in deck.cards'>
          <div class='col-xs-6'>
            <div class='card-left card-editor-container'>
              <textarea class='card-editor' placeholder='Enter card Front'>{{ card.front }}</textarea>
            </div>
          </div>
          <div class='col-xs-6'>
            <div class='card-right card-editor-container'>
              <textarea class='card-editor' placeholder='Enter card back'>{{ card.back }}</textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='col-md-4'>
      <div ng-if='loadSuccess && !message' class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'> Deck Options </h3>
        </div>
        <div class='panel-body'>
          <pre> {{ newCard }} </pre>
          <div class='form-group'>
            <label> Enter Tags </label>
            <input type='text' class='form-control' placeholder='Western History, Math, Tag3'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
