<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='description' content='free flashcard application' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <title> Quick Flashcards </title>
  <link sizes='16x16, 32x32, 64x64' type='image/x-icon' rel='icon' href='favicon.ico?v=1'></link>
</head>
<body>
  <!-- Landing Page Template -->
  <script id='view-landing-template' type='text/template'>
    <div class='container'>
      <h1> Flashcards Landing </h1>
      <h4> Create a deck or browse all decks. No account or registration necessary! </h4>
    </div>
  </script>

  <!-- Create-a-deck Page Template -->
  <script id='view-create-template' type='text/template'>
    <div class='page-heading-stripe'>
      <div class='container'>
        <h1>
          <i class='fa fa-plus fa-fw'></i>
          <span class='page-heading-deckTitle'>
            Create a new deck &hellip;
          </span>
        </h1>
      </div>
    </div>
    <div class='container'>
      <form role='form' id='create-deck-form'>

        <div class='form-group'>
          <label for='deck-name'>Name <span class='note'>enter a name for your deck</span></label>
          <input id='deck-name' type='text' maxlength='32' class='form-control' name='name' placeholder='My Deck'>
          <p id='help-deck-name' class='help-block-danger'></p>
        </div>

        <div class='form-group'>
          <label for='deck-description'>Description <span class='note'>(optional)</span> </label>
          <input type='text' id='deck-description' maxlength='256' class='form-control' name='description' placeholder='Description'>
          <span class='help-block'></span>
        </div>

        <hr></hr>

        <div class='radio radio-privacy'>
          <label>
            <input type='radio' name='public' value='1'> <i class='fa fa-fw fa-unlock'></i> Public
          </label>
          <p class="help-block">Anyone can view this deck.</p>
        </div>

        <div class='radio radio-privacy'>
          <label>
            <input type='radio' name='public' value='0' disabled> <i class='fa fa-fw fa-lock'></i> Private
          </label>
          <p class="help-block">You choose who can view or edit this deck. Currently unavailable.</p>
        </div>

        <hr></hr>

        <button id='submit-create-deck' type='button' class='btn btn-success'>Create</button>
      </form>
    </div>
  </script>

  <!-- Restricted Deck Edit Template -->
  <script id='view-restricted-template' type='text/template'>
    <div class='page-heading-stripe'>
      <div class='container'>
        <h1> <i class='fa fa-warning fa-fw'></i> Deck Restricted </h1>
      </div>
    </div>
    <div class='container'>
      <div class='alert alert-danger'>
        You cannot edit this deck. Decks can only be edited from the same computer and browser that they were created from if you're not logged in. If this is the same computer and browser which you created the deck from then the browser cache was most likely cleared - which removed any knowledge of deck ownership.
      </div>
    </div>
  </script>

  <!-- Edit Deck Template -->
  <script id='view-editor-template' type='text/template'>
    <div id='view-editor-header'></div>
    <% if (loaded) { %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='panel panel-default' id='view-editor-newCard'></div>
          <div class='panel panel-default' id='view-editor-cards'></div>
        </div>
        <div class='col-md-4'>
          <div class='panel panel-default' id='view-editor-toolkit'></div>
        </div>
      </div>
    </div>
    <% } %>
  </script>

  <!-- Edit Deck Header Template -->
  <script id='view-editor-header-template' type='text/template'>
    <div class='page-heading-stripe'>
      <div class='container'>
        <h1>
          <i class='fa fa-book fa-fw'></i>
          Deck:
          <span class='page-heading-deckTitle'>
          <% if (loaded) { %>
            <%= name %>
          <% } else { %>
            Loading
          <% } %>
          </span>
          <% if (!loaded) { %>
          <i class='fa fa-fw fa-cog fa-spin'></i>
          <% } %>
        </h1>
        <% if (loaded) { %>
        <div class='btn-group btn-group-sm pull-right' role='group' aria-label='deck options'>
          <button type='button' class='btn btn-default'> <i class='fa fa-share-alt fa-fw'></i> Share </button>
          <button type='button' class='btn btn-default'> <i class='fa fa-font fa-fw'></i> Rename </button>
          <button type='button' class='btn btn-default'> <i class='fa fa-trash fa-fw'></i> Delete </button>
        </div>
        <% } %>
      </div>
    </div>
    <% if (loaded) { %>
    <div class='container'>
      <% if (description.length > 0) { %>
      <p class='meta-deck-description'> <%= description %> - <a href='#'>edit</a></p>
      <% } else { %>
        <p class='meta-deck-description'><a href='#'><i class='fa fa-fw fa-plus'></i> add a description</a></p>
      <% } %>
    </div>
    <% } %>
  </script>

  <!-- Single-Card Edit Template -->
  <script id='view-editor-newCard-template' type='text/template'>
    <div class='panel-heading'>
      <i class='fa fa-fw fa-th-list'></i> Add Card
      <div class='pull-right'>
        <div class='btn-group btn-group-xs'>
          <button class='btn btn-default' type='button'>A Button</button>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='card-editor-bank'>
        <div class='col-sm-6'>
          <div class='card-front-container card-editor-container'>
            <div class='card-editor-curtain'></div>
            <textarea id='view-editor-newCard-front' class='card-editor' placeholder='Enter card front'></textarea>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='card-back-container card-editor-container'>
            <div class='card-editor-curtain'></div>
            <textarea id='view-editor-newCard-back' class='card-editor' placeholder='Enter card back'></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class='panel-body'>
      <button id='view-editor-newCard-btn' type='button' class='btn btn-default btn-block'> Add </button>
    </div>
  </script>

  <script id='view-editor-cards-template' type='text/template'>
    <div class='panel-heading'>
      <i class='fa fa-fw fa-file-o'></i> Cards
    </div>
    <% _.each(cards.toJSON(), function(card) { %>
    <div class='card-editor-bank'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='card-left card-editor-container'>
            <textarea class='card-editor' placeholder='Enter card Front'><%= card.front %></textarea>
          </div>
        </div>
        <div class='col-sm-6'>
          <div class='card-right card-editor-container'>
            <textarea class='card-editor' placeholder='Enter card back'><%= card.back %></textarea>
          </div>
        </div>
      </div>
      <div class='btn-group btn-group-sm pull-right'>
        <button class='btn btn-default' type='button'><i class='fa fa-fw fa-exchange'></i> Swap </button>
        <button class='btn btn-default' type='button'><i class='fa fa-fw fa-trash'></i> Delete </button>
      </div>
      <div class='clearfix'></div>
    </div>
    <% }); %>
  </script>

  <script id='view-editor-toolkit-template' type='text/template'>
    <div class='panel-heading'>
      <i class='fa fa-fw fa-wrench'></i>
      Options
    </div>
    <div class='panel-body'>
      <div class='form-group'>
        <label> Enter Tags </label>
        <input type='text' class='form-control' placeholder='Western History, Math, Trig'>
      </div>
    </div>
  </script>

  <nav class='navbar navbar-default main-navigation' role='navigation'>
    <div class='container'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class='navbar-header'>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>

        <a class='navbar-brand' href='#'><img src='assets/img/cube-32.png'> Flashcards</a>
      </div>
      <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
        <ul id='main-navbar' class='nav navbar-nav navbar-left'>
          <li id='nav-create'><a href='#create'>Create a Deck</a></li>
          <li id='nav-browse'><a href='#browse'>Browse Decks</a></li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li id='nav-local'><a href='#local'>My Decks <span class='badge'></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <!-- populated by router -->
  <div id='main-content'></div>

  <!-- Styles -->
  <link rel='stylesheet' href='assets/css/bootstrap.min.css'></link>
  <link rel='stylesheet' href='assets/css/font-awesome.min.css'></link>
  <link rel='stylesheet' href='assets/css/main.css'></link>

  <!-- Vendor Scripts -->
  <script src='assets/js/vendor/jquery.min.js'></script>
  <script src='assets/js/vendor/underscore.min.js'></script>
  <script src='assets/js/vendor/backbone.min.js'></script>
  <script src='assets/js/vendor/backbone.model-binder.min.js'></script>
  <script src='assets/js/vendor/backbone.collection-binder.min.js'></script>
  <script src='assets/js/vendor/bootstrap.min.js'></script>

  <!-- App Scripts -->
  <script src='assets/js/app.main.js'></script>
  <script src='assets/js/app.local.js'></script>
  <script src='assets/js/app.models.js'></script>
  <script src='assets/js/app.views.js'></script>
  <script src='assets/js/app.router.js'></script>

</body>
</html>
