<!-- Restricted Deck Edit Template -->
<script id='view-restricted-template' type='text/template'>
  <div class='page-heading-stripe'>
    <div class='container'>
      <h1> <i class='fa fa-warning fa-fw'></i> Deck Restricted </h1>
    </div>
  </div>
  <div class='container'>
    <div class='alert alert-danger'>
      You cannot edit this deck. Decks can only be edited from the same computer and browser that they were created from if you're not logged in. If this is the same computer and browser which you created the deck from then the browser cache was most likely cleared - which removed any knowledge of deck ownership.
    </div>
  </div>
</script>
