<!-- Browse Decks Page Template -->
<script id='view-browse-template' type='text/template'>
  <div class='page-heading-stripe'>
    <div class='container'>
      <h1>
        <i class='fa fa-coffee fa-fw'></i>
        <span class='page-heading-deckTitle'>
          Latest Decks
        </span>
      </h1>
      <form class="form-inline pull-right" role="form">
        <input type="text" class="form-control" placeholder="Search Decks">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  <div class='container'>
    <div class="row">
      <div class="col-sm-8">
        <!-- <div class="row">
          <div class='panel panel-default' id='view-browse-toolbar'></div>
        </div> -->
        <div class="row">
          <div id='view-browse-results'></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div id='view-browse-sidebar'></div>
      </div>
    </div>
  </div>
</script>

<!-- Browse Toolbar Page Template -->
<script id="view-browse-toolbar-template" type="text/template">
  <div class="panel-body">
    <form class="form-inline">
      <select class="form-control">
        <option>School</option>
        <option>Class</option>

      </select>
      <input class="form-control"/>
      <button class="pull-right btn btn-default">Filter</button>
    </form>
  </div>
</script>

<!-- Browse Sidebar Page Template -->
<script id="view-browse-sidebar-template" type="text/template">
  <p> some stuff </p>
  <div class='checkbox'>
    <label>
      <input type='checkbox'> Adult language filter is OFF
    </label>
  </div>
</script>

<!-- Browse Results Page Template -->
<script id="view-browse-results-template" type="text/template">
  <div class="view-browse-results-container"></div>
</script>

<!-- Result partial Template -->
<script id="view-browse-result-template" type="text/template">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <h5> <%- name %></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p> <%- description %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 browse-view-button">
      <a href="#/view/<%- deck_id %>"class="btn btn-link btn-block">View</a>
    </div>
  </div>
</script>