<!-- NAVBAR TEMPLATE -->
<script id='navbar-template' type='text/template'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='#'><img src='assets/img/cube-32.png'> brain.cards</a>
    </div>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul id='main-navbar' class='nav navbar-nav navbar-left'>
        <li id='nav-create'><a href='#create'>Create a Deck</a></li>
        <li id='nav-browse'><a href='#browse'>Browse Decks</a></li>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li id='nav-local'><a href='#local'>My Decks <span class='badge'></span></a></li>
        <li><button class='btn navbar-btn btn-link' id='navbar-login-btn'>login</button></li>
        <li><button class='btn navbar-btn btn-link' id='navbar-register-btn'>register</button></li>
        <li><button class='btn navbar-btn btn-link' id='navbar-logout-btn'>logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</script>

<script id='modal-register-template' type='text/template'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <!-- CHECKIN MODAL HEADER -->
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title' id='modal-register-label'><i class='fa fa-fw fa-user'></i> Register new Account </h4>
      </div>
      <div class='modal-body'>
        <div id='modal-register-form'>
          <div class='form-group'>
            <label for='modal-register-email'>Email address</label>
            <input type='email' class='form-control' id='modal-register-email' placeholder='Email'>
          </div>
          <div class='form-group'>
            <label for='modal-register-name'>Username</label>
            <input type='text' class='form-control' id='modal-register-name' placeholder='Username'>
          </div>
          <div class='form-group'>
            <label for='modal-register-pass'>Password</label>
            <input type='password' class='form-control' id='modal-register-pass' placeholder='Password'>
          </div>
          <div class='form-group'>
            <label for='modal-register-pass2'>Confirm Password</label>
            <input type='password' class='form-control' id='modal-register-pass2' placeholder='Reenter Password'>
          </div>
        </div>
        <div id='modal-register-error' class='alert alert-danger'>Registration failed. <span></span></div>
        <span id='modal-register-spinner'><i class='spinner fa fa-2x fa-fw fa-cog fa-spin'></i></span>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <button type='button' class='btn btn-primary' id='modal-register-confirm-btn'>Register</button>
      </div>
    </div>
  </div>
</script>

<script id='modal-login-template' type='text/template'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <!-- CHECKIN MODAL HEADER -->
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title' id='modal-login-label'><i class='fa fa-fw fa-user'></i> Login </h4>
      </div>
      <div class='modal-body'>
        <div id='modal-login-form'>
          <div class='form-group'>
            <label for='modal-login-email'>Email address</label>
            <input type='email' class='form-control' id='modal-login-email' placeholder='Enter email'>
          </div>
          <div class='form-group'>
            <label for='modal-login-pass'>Password</label>
            <input type='password' class='form-control' id='modal-login-pass' placeholder='Password'>
          </div>
        </div>
        <div id='modal-login-error' class='alert alert-danger'>Login failed</div>
        <span id='modal-login-spinner'><i class='spinner fa fa-2x fa-fw fa-cog fa-spin'></i></span>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <button type='button' class='btn btn-primary' id='modal-login-confirm-btn'>Login</button>
      </div>
    </div>
  </div>
</script>